DJANGO_SECRET_KEY=django-insecure-some-secret-random-string=a5t*j&x9uwmkb%2=(zu)4m

# Tailwind / Node
# On Windows you may need an absolute path like:
# NPM_BIN_PATH=C:\\Program Files\\nodejs\\npm.cmd
NPM_BIN_PATH=npm

# Capture user picture every N seconds (default: 10)
CAPTURE_INTERVAL_SEC=10

# Ask for payout details after video capture (default: true)
ASK_PAYOUT_DETAILS=true